body
{
    background-color: #59323C;
    font-family: 'Comic Sans MS'
}
.creamColor{color: #F2EEB3}
.tableColorFormat{background-color: #BFAF80}
a:link{ color:#F2EEB3}
a:visited{color:#14bf95}
a:hover {color:#1446be}
